In [81]:
from numpy import genfromtxt
from time import time
from datetime import datetime
from sqlalchemy import Column, Integer, Float, Date, String, VARCHAR
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import csv
import pandas as pd


#def Load_Data(file_name):
    #data = csv.reader(file_name, delimiter=',')# skiprows=1, converters={0: lambda s: str(s)})
    #return data.tolist()

Base = declarative_base()

In [82]:
class Stations(Base):
    #Tell SQLAlchemy what the table name is and if there's any table-specific arguments it should know about
    __tablename__ = 'stations'
    __table_args__ = {'sqlite_autoincrement': True}
    __table_args__ = {'extend_existing': True} 
    #tell SQLAlchemy the name of column and its attributes:
    id = Column(Integer, primary_key=True, nullable=False) 
    station = Column(VARCHAR(40))
    name = Column(VARCHAR(40))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [83]:
engine = create_engine('sqlite:///hawaii.sqlite')
Base.metadata.create_all(engine)
file_name = 'hawaii_stations.csv'
df = pd.read_csv(file_name)

In [84]:
df.to_sql(con=engine, index_label='id', name=Stations.__tablename__, if_exists='replace')

In [85]:
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("hawaii.sqlite")
df = pd.read_sql_query("SELECT * from stations", con)

# verify that result of SQL query is stored in the dataframe
print(df.head())

con.close()

   id      station                                    name  latitude  \
0   0  USC00519397                    WAIKIKI 717.2, HI US   21.2716
1   1  USC00513117                    KANEOHE 838.1, HI US   21.4234
2   2  USC00514830  KUALOA RANCH HEADQUARTERS 886.9, HI US   21.5213
3   3  USC00517948                       PEARL CITY, HI US   21.3934
4   4  USC00518838              UPPER WAHIAWA 874.3, HI US   21.4992

   longitude  elevation
0  -157.8168        3.0
1  -157.8015       14.6
2  -157.8374        7.0
3  -157.9751       11.9
4  -158.0111      306.6

In [86]:
class Measurements(Base):
    __tablename__ = 'measurements'
    __table_args__ = {'sqlite_autoincrement': True}
    __table_args__ = {'extend_existing': True} 
    id = Column(Integer, primary_key=True)
    station =  Column(String(50))
    date = Column(String(50))
    prcp = Column(Float)
    tobs = Column(Float)

In [93]:
file_name2 = 'clean_hawaii_measurements.csv'
df2 = pd.read_csv(file_name2)

In [94]:
df2.to_sql(con=engine, index_label='id', name=Measurements.__tablename__, if_exists='replace')

In [95]:
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("hawaii.sqlite")
df = pd.read_sql_query("SELECT * from measurements", con)

# verify that result of SQL query is stored in the dataframe
print(df.head())

con.close()

   id      station        date  prcp  tobs
0   0  USC00519397  2010-01-01  0.08    65
1   1  USC00519397  2010-01-02  0.00    63
2   2  USC00519397  2010-01-03  0.00    74
3   3  USC00519397  2010-01-04  0.00    76
4   4  USC00519397  2010-01-06  0.00    73